        .comment {
            margin-top: 20px;
            position: relative;
        }

        .comment h3 {
            font-size: 1.2em;
            margin-bottom: 10px;
        }

        .comment form {
            margin-top: 10px;
        }

        .comment p {
            margin-bottom: 5px;
        }

        .comment .reply {
            margin-left: 20px; /* Indent replies */
        }

        .comment input[type="text"],
        .comment textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
        }

        .comment input[type="submit"] {
            padding: 8px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .comment input[type="submit"]:hover {
            background-color: #45a049;
        }

        .reply-form {
            margin-left: 40px; /* Indent reply forms */
            display: none;
        }

        .comment-actions {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .comment-action-button {
            margin-bottom: 5px;
        }

        .update-comment-form {
            margin-top: 10px;
            display: none;
        }
        .hide_comments{
            margin-top: 20px;
        }
        .reply-button{
            border: none;
            font-size: 12px;
        }
        .gradient-custom { 
             background: #4facfe;
             background: -webkit-linear-gradient(to bottom right, rgba(79, 172, 254,
                            1), rgba(0, 242, 254, 1)); 
             background: linear-gradient(to bottom right, rgba(79, 172, 254, 1), rgba(0,
                            242, 254, 1));
             width: auto;
             height:auto;
        }
        .comment-head{
            margin-left: 320px;
        }
        .comment {
            margin-top: 20px;
            position: relative;
        }
        .comment h3 {
            font-size: 1.2em;
            margin-bottom: 10px;
        }
        