
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h2 {
  color: #333;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 6px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}
li:hover {
  background-color: #e9e9e9;
}
.post-title {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 5px;
}
.post-content {
  color: #555;
}
a{
  text-decoration: none;
  color: black;
}
.container {
  margin-top: 20px;
}
.post-card {
  width: calc(50% - 10px); /* Adjust width as per requirement */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
.post-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}
.post-card h3 {
  margin-bottom: 10px;
}
.post-card p {
  margin-bottom: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
}